body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background: url("/images/Tirana\ 24\ dhjetor\ 2022.jpg");
    overflow: hidden;
}

.container{
    display: flex;

}

.container div{
    margin: 5px;
    position: relative;

}
.container span{
    width: 100px;
    height: 80px;
    background: rgba(0,0,0,.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.container .text{
    height: 30px;
    font-size: 10px;
    background: grey;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 0.8;
}

.container .ampm{
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background: lightgrey;
    color: black;
    bottom: 0;
}

@media (max-width: 470px) {
    .container{
        flex-direction: column;
    }

    .container .ampm{
        position: relative;
    }
}